<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meng.dao.IRoleDao">
    <resultMap id="roleMap" type="com.meng.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <collection property="users" ofType="com.meng.entity.User3">
            <id column="uid" property="id"/>
            <result column="username" property="username"/>
            <result column="birthday" property="birthday"/>
            <result column="sex" property="sex"/>
            <result column="address" property="address"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="roleMap">
        select r.*,u.id as uid,
         u.username,
         u.address
         from role r left outer join user_role ur on r.id = ur.rid
         left outer join user3 u on ur.uid = u.id
    </select>
</mapper>