<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meng.dao.IUserDao">
    <resultMap id="usermap" type="com.meng.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
    </resultMap>
    
    
    <select id="findAll" resultType="com.meng.entity.User">
        select * from user
    </select>

    <select id="findById" parameterType="Integer" resultType="com.meng.entity.User">
        select * from user where id=#{id}
    </select>
    
    <select id="findByName" parameterType="String" resultMap="usermap">
        select * from user where username like #{username}
    </select>

    <select id="total" resultType="int">
        select count(id) from user
    </select>

    <insert id="save" parameterType="com.meng.entity.User">
        insert into user(username,birthday,sex,address)values(#{username},#{birthday},#{sex},#{address})
    </insert>

    <update id="update" parameterType="com.meng.entity.User">
        update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from user where id=#{id}
    </delete>
</mapper>